<head>
    <style>
        .container{
            border-radius: 20px;
            padding: 30px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 30px;
        }
        .col-sm h3 {
            color: white;
            border: solid;
            border-radius: 50px;
        }
        h2 {
            color: white;
        }
    </style>
</head>
<body>
    <div class="container" style="background-color: #0C3640;">
        <div class="row">
            <div class="col-sm", style="background-color: #A169A4; border-radius: 20px; text-align: center; padding: 90px 1px;">
                <h2 style="margin-bottom: 30px; font-size: xx-large; padding-top: 30px"><%= ambient_identification %> <%= User.first.name %></h2>
                <h1 style="margin-bottom: 30px; font-size: xxx-large;"> <%= Time.now.strftime("%H:%M")%> </h1>
                <h3 style="border: none; margin-bottom: 15px; font-size: xx-large;"><strong><%= date_brazilian_format(Date.today) %></strong></h3>
            </div>
            <div class="col-sm" style="padding-top: 5px; text-align: center; display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-evenly; margin-left: 20px">
                <div class="buttom_style">
                    <h3 style="background-color: #F820FE; border-color:#F820FE; font-weight: revert;">Alguma coisa</p>
                </div>
                <div class="buttom_style">
                    <h3 style="background-color: #E51EEB; border-color: #E51EEB; font-weight: revert;">Alguma coisa</p>
                </div
                <div class="buttom_style">
                    <h3 style="background-color: #94159B; border-color: #94159B; font-weight: revert;">Alguma coisa</p>
                </div
            </div>
        </div>
    </div>
</body> 