<head>
    <style>
        .container{
            border-radius: 20px;
            padding: 30px;
            display: flex;
            justify-content: center;
            width: 35%;
            flex-direction: column;
        }
        .col-sm p {
            color: white;
            border: solid;
            border-radius: 50px;
        }
    </style>
</head>
<body>
    <div class="container" style="background-color: #0C3640;">
        <div class="row">
            <div class="col-sm", style="background-color: #A169A4; border-radius: 20px;">
                <h1>Alguma coisa<h1>
            </div>
            <div class="col-sm" style="padding-top: 5px; text-align: center;">
                <div class="buttom_style">
                    <p style="background-color: #f00; border-color:#f00;">Alguma coisa</p>
                </div>
                <div class="buttom_style">
                    <p style="background-color: #0f0; border-color:#0f0">Alguma coisa</p>
                </div
                <div class="buttom_style">
                    <p style="background-color: #00f; border-color:#00f">Alguma coisa</p>
                </div
            </div>
        </div>
    </div>
</body> 