<head>
    <style>
    <style>
        p {
            color: white;
        }
        label {
            color:white;
        }
        h1 {
            color: white;
            font-family: 'Bungee', sans-serif;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body  style="background-color: #0C3640; margin: 0px; color: #fff;">
    <nav class="navbar navbar-light"style="color:white; background-color: #94159B; height: 140px; display: flex; justify-content: space-between;
    align-items: center;">
        <h1 style=" padding-left:4.5%; font-size: 400%;
            text-shadow: -3px -3px #9B30FF; }"><%= User.first.name %>'s List</h1>
        <div style="display: flex; flex-direction: column; padding-right: 70px">
            <p style="margin-bottom: 10px;"><%= link_to "Back to menu", root_path, style:"color: white; text-decoration: none; font-weight: bold; font-size: x-large;" %></p>
            <p><%= link_to "User Settings", 'http://localhost:3000/users/1/edit', style:"color: white; text-decoration: none; font-weight: bold; font-size: x-large;" %></p>
        </div>
    </nav>
    <%= yield %>
</body>